/* Tiny Carousel */
.carousel-container {
  display: inline-block;
  overflow: hidden !important;
  position: relative;
  height: 540px;


}

.carousel-container .carousel-wrapper {
  height: 540px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-container .overview {
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  left: 0;
  top: 0;
}



.carousel.overview>div {
  height: 540px;
  float: left;
}

.carousel-wrapper picture img {
  height: 540px;
}